{$SITE_DOMAIN:logand.app, logandapp.com} {
	encode gzip

	handle /api/* {
		request_body {
			max_size 25MB
		}
		reverse_proxy backend:8000
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}
